body
{
    background: rgb(212, 175, 212);
    font-family:Arial, Helvetica, sans-serif;
}

.assignment
{
    display:flex;
    padding:10px;
    margin:10px;
    background:rgb(239, 239, 194);
}

.assignment img
{
    width:200px;
    padding:10px;
}

h1
{
    color:rgb(73, 39, 105);
}