body
{
    background:#FC766AFF;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments
{
    display:flex;
    flex-wrap:wrap;
}
.assignment
{
    width:22%;
    padding:10px;
    margin:10px;
    padding:20px 10px;
    background:#F1AC88FF;
    border-radius:5px;
}

.assignment img
{
    width:200px;
    margin:10px;
    border:4px solid rgb(96, 31, 31);
    display:block;
    margin:auto;
}
.assignment img:hover
{
    border: 4px dashed rgba(235, 218, 218, 0.973);
}

h1
{
    color:#783937FF;
    text-align:center;
}

h1:hover
{
    color:rgba(235, 218, 218, 0.973);
}

h2
{
    text-align:center;
}

a
{
    text-decoration:none;
    color: rgb(96, 31, 31);
}

a:hover
{
    color:rgba(235, 218, 218, 0.973);
}